# SPDX-FileCopyrightText: 2019-2022 Robin Vobruba <hoijui.quaero@gmail.com>
#
# SPDX-License-Identifier: Unlicense

[submodule "filters"]
	path = filters
	url = https://github.com/movedo/movedo-filters.git
